<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="A platform for amateur meteorologists and storm chaser observations" />
    <meta property="og:url" content="https://hyperlocal-wx.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:image" name="image" content="https://github.com/bbbtttiii/hyperlocal/blob/master/public/images/preview.jpg" />
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Hyperlocal</title>
  </head>
  <body>
  <header>
    <div class="navcontainer">
      <% if logged_in? %>
        <h1><a href="/users/<%=current_user.id%>">Hyperlocal</a></h1>
        <nav>
          <span class="navbutton" id=<%="navbutton-selected" if active_page?("users/#{current_user.id}") %>><a href="/users/<%=current_user.id%>">My Obs</a></span>
          <span class="navbutton" id=<%="navbutton-selected" if active_page?("reports/new") %>><a href="/reports/new">New Observation</a></span>
          <span class="navbutton" id=<%="navbutton-selected" if active_page?("reports") %>><a href="/reports">All Obs</a></span>
          <span class="navbutton" id=<%="navbutton-selected" if active_page?("reports/newest") %>><a href="/reports/newest">Latest Obs</a></span>
          <span class="navbutton" id="rightnav"><a href="/logout">Log Out</a></span>
        </nav>
      <% else %>
        <h1><a href="/">Hyperlocal</a></h1>
      <% end %>
    </div>
  </header>
    <div class="wrapper">
      <%= yield %>
      <br>
      <footer class="branding">
        <small>&copy; 2021 <strong>Hyperlocal</strong>&#9889;</small>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>