<h2>All Reports</h2>

<% @reports.each do |x| %>

    <p>
    <li><h3><%= x.updated_at %></h3></li>
    <li>Posted by: <%= x.user_id %></li>
    <br>
    <li>Current Conditions: <%= x.current_conditions %></li>
    <li>Temperature: <%= x.temperature %></li>
    <li>Pressure: <%= x.pressure %></li>
    <li>Wind Speed: <%= x.wind_speed %></li>
    <li>Wind Direction: <%= x.wind_direction %></li>
    <li>Relative Humidity: <%= x.relative_humidity %></li>
    <li>Precipitation: <%= x.precipitation %></li>
    <li>Cloud Cover: <%= x.cloud_cover %></li>
    <li>Cloud Type: <%= x.cloud_type %></li>
    </p>

<% end %>

<br><br>
  <% if logged_in? %>
  <a href="/reports/new">Create a Report</a> |
  <a href="/logout">Log Out</a>
  <%end%>