<h1>This is the Model's index page.</h1>

<h2>All Reports</h2>

<% @reports.each do |x| %>

    Current Conditions: <li><%= x.current_conditions %></li>
    Temperature: <li><%= x.temperature %></li>
    Pressure: <li><%= x.pressure %></li>
    Wind Speed: <li><%= x.wind_speed %></li>
    Wind Direction: <li><%= x.wind_direction %></li>
    Relative Humidity: <li><%= x.relative_humidity %></li>
    Precipitation: <li><%= x.precipitation %></li>
    Cloud Cover: <li><%= x.cloud_cover %></li>
    Cloud Type: <li><%= x.cloud_type %></li>

<% end %>