<h2>All Reports</h2>

<% @reports.each do |x| %>

    <p>
    <li><h3><%= x.updated_at %></h3></li>
    <li>Posted by: <%= x.user_id %></li>
    <br>
    <li>Location: <b><%= x.location %></b></li>
    <li>Current Conditions: <b><%= x.current_conditions %></b></li>
    <li>Temperature (F): <b><%= x.temperature %></b></li>
    <li>Pressure (mb): <b><%= x.pressure %></b></li>
    <li>Wind Speed (mph): <b><%= x.wind_speed %></b></li>
    <li>Wind Direction: <b><%= x.wind_direction %></b></li>
    <li>Relative Humidity: <b><%= x.relative_humidity %></b></li>
    <li>Precipitation (in): <b><%= x.precipitation %></b></li>
    <li>Cloud Cover: <b><%= x.cloud_cover %></b></li>
    <li>Cloud Type: <b><%= x.cloud_type %></b></li>
    </p>
    <hr>

<% end %>