<h2>Report</h2>

<li><h3><%= @report.updated_at %></h3></li>
<br>
<li>Current Conditions: <b><%= @report.current_conditions %></b></li>
<li>Temperature (F): <b><%= @report.temperature %></b></li>
<li>Pressure (mb): <b><%= @report.pressure %></b></li>
<li>Wind Speed (mph): <b><%= @report.wind_speed %></b></li>
<li>Wind Direction: <b><%= @report.wind_direction %></b></li>
<li>Relative Humidity: <b><%= @report.relative_humidity %></b></li>
<li>Precipitation (in): <b><%= @report.precipitation %></b></li>
<li>Cloud Cover: <b><%= @report.cloud_cover %></b></li>
<li>Cloud Type: <b><%= @report.cloud_type %></b></li>

<% if @report.user == current_user %>

  <br>
  <form action="/reports/<%=@report.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Report">
  </form>
  <br>
  <a href="/reports/<%=@report.id%>/edit">Edit Report</a> |
  <a href="/users/<%=@report.user_id%>">Your Reports</a>

<% end %>