<h2>Report</h2>

<li><h3><%= @report.updated_at %></h3></li>
<br>
<li>Location: <b><%= @report.location %></b></li>
<li>Current Conditions: <b><%= @report.current_conditions %></b></li>
<li>Temperature: <b><%= @report.temperature %><% if @report.temperature != nil %> <%= @report.temp_unit %><%end%></b></li>
<li>Pressure: <b><%= @report.pressure %><% if @report.pressure != nil %> <%= @report.pressure_unit %><%end%></b></li>
<li>Wind Speed: <b><%= @report.wind_speed %><% if @report.wind_speed != nil %> <%= @report.wind_unit %><%end%></b></li>
<li>Wind Direction: <b><%= @report.wind_direction %></b></li>
<li>Relative Humidity: <b><%= @report.relative_humidity %><%if @report.relative_humidity != nil %>&#37;<%end%></b></li>
<li>Precipitation: <b><%= @report.precipitation %><% if @report.precipitation != nil %> <%= @report.precip_unit %><%end%></b></li>
<li>Cloud Cover: <b><%= @report.cloud_cover %><% if @report.cloud_cover != nil%>&#37;<%end%></b></li>
<li>Cloud Type: <b><%= @report.cloud_type %></b></li>

<% if @report.user == current_user %>

  <br>
  <form action="/reports/<%=@report.id%>/edit" method="get">
    <input type="submit" value="Edit Report">
  </form>
  <form action="/reports/<%=@report.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Report">
  </form>
  <br>
  <a href="/users/<%=current_user.id%>">Back to my reports</a>

<% end %>

