<h2>Your latest report</h2>

<li><h3><%= @report.updated_at %></h3></li>
<li><%= @report.current_conditions %></li>
<li><%= @report.temperature %></li>
<li><%= @report.pressure %></li>
<li><%= @report.wind_speed %></li>
<li><%= @report.wind_direction %></li>
<li><%= @report.relative_humidity %></li>
<li><%= @report.precipitation %></li>
<li><%= @report.cloud_cover %></li>
<li><%= @report.cloud_type %></li>

<% if @report.user == current_user %>
  <br><br>
  <form action="/reports/<%=@report.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Report">
  </form>

<% end %>